# Build/Maven #
###############
**/target/
**/node_modules/

# Eclipse #
###########
.project
.classpath
.settings
**/bin/
.metadata/
# Spring #
############
**/.springBeans

# IntelliJ #
############
.idea/
*.iml
